.portfolio-head {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 10px
}

.portfolio-items {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.portfolio-head h2{
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
}

.portfolio-head em{
  color: gray;
}

.portfolio-item {
    display: flex;
}