.contact_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background-color: #f8f9fa;
}

.contact_head {
  text-align: center;
}

.contact_head .icon {
    font-size: 50px;
    max-width: 70px;  
    max-height: 70px; 
    border-radius: 10%;
    background-color: #0d6efd;
    padding: 10px;  
    display: inline-block; 
    color: white;
}


.contact_head h1 {
  font-weight: bolder;
  font-size: 40px;
  padding: 10px;
  color: black;
}

.contact_head p {
  font-weight: 300;
  font-size: 20px;
  padding: 10px;
}
