.navbar {
    background-color: gray;
    color: white;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navList {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
  }
  
  .navItem a {
    color: white;
    text-decoration: none;
  }

  
  .sup {
    margin-left: 5px;
  }
  