.testimon_item{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 500px;
    padding: 20px;
    border: 1px solid rgb(190, 188, 188);
    border-radius: 5px;
    margin: 10px;
}

.icon {
    font-size: 50px;
    color: #0d6efd;
}


.div_com h2{
    font-size: 16px;
    padding: 10px 0;
}

.div_com p{
    font-size: 14px;
    color: rgb(71, 70, 70);
}